header {
}

main {
}
h1 {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.container div {
  background-color: lightgray;
  text-align: center;
  width: 90%;
  height: 100px;
}

.searcher {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 20px;
}

.manage {
  display: flex;
  justify-content: space-around;
}

.listTitle {
  background-color: gray;
}

.listTitle span {
  padding-left: 5px;
  font-weight: bold;
}
.list {
  /* flex-basis: 0; */
  height: 300px;
  width: 45%;
}

.verticalLine {
  border-right: 1px solid lightgray;
  height: 300px;
  width: 0.1px;
  /* flex-basis: 0; */
}

.edit {
  border: solid 1px lightgray;
  display: flex;
  flex-direction: column;
  /* flex-basis: 0; */
  height: 300px;
  width: 45%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  margin: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  height: 270px;
  border: 1px solid lightgray;
}
li {
  background-color: lightgray;
  list-style: none;
  padding-left: 0px;
  border: 1px solid gray;
  display: flex;
}

li b {
  flex: 1 1 0;
  text-align: center;
  /* border: 1px solid black; */
}

li span {
  flex: 5 1 0;
  /* border: 1px solid black; */
  padding-left: 15px;
}
