header {
  border: solid 1px blue;
}

main {
  border: solid 1px green;
}
h1 {
  font-size: 20px;
}

header div {
  background-color: gray;
  text-align: center;
}

.manage {
  display: flex;
}

.listTitle {
  background-color: gray;
}

.listTitle span {
  flex-grow: 4;
}
.list {
  border: solid 1px gray;
  flex-grow: 1;
}

.edit {
  border: solid 1px gray;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  margin: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
  width: 50%;
}
li {
  list-style: none;
  padding-left: 0px;
  border: 1px solid gray;
  display: flex;
}

li b {
  flex-grow: 1;
  text-align: center;
}

li span {
  flex-grow: 4;
}
