header {
}

main {
}

.detaildiv {
  border: 1px solid black;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 40px;
  height: 40px;
}

h1 {
  font-size: 20px;
  margin-left: 10px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.container div {
  background-color: lightgray;
  width: 97%;
  height: 150px;
}

.searcher {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 20px;
}

.manage {
  display: flex;
  justify-content: space-around;
}

.listTitle {
  background-color: gray;
}

.listTitle span {
  padding-left: 5px;
  font-weight: bold;
}
.list {
  /* flex-basis: 0; */
  height: 500px;
  width: 45%;
}

.verticalLine {
  border-right: 1px solid lightgray;
  height: 500px;
  width: 0.1px;
  /* flex-basis: 0; */
}

.edit {
  border: solid 1px lightgray;
  display: flex;
  flex-direction: column;
  /* flex-basis: 0; */
  height: 500px;
  width: 45%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  margin: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  height: 470px;
  border: 1px solid lightgray;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
ul::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

li {
  background-color: lightgray;
  list-style: none;
  padding-left: 0px;
  border: 1px solid gray;
  display: flex;
  height: 25px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

li b {
  flex: 2 1 0;
  text-align: center;
  color: black;
  /* border: 1px solid black; */
}

li span {
  flex: 10 1 0;
  /* border: 1px solid black; */
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  color: black;
}
